<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="group.oneonetwo.hotelintelligencesystem.modules.sys_logs.dao.LogsMapper">
    <resultMap id="logsVO" type="group.oneonetwo.hotelintelligencesystem.modules.sys_logs.model.vo.LogsVO"></resultMap>
    <resultMap id="logsMap" type="group.oneonetwo.hotelintelligencesystem.modules.sys_logs.model.po.LogsPO">
        <result property="id" column="id"/>
        <result property="sketch" column="sketch"/>
        <result property="detail" column="detail"/>
        <result property="type" column="type"/>
        <result property="roleLevel" column="role_level"/>
        <result property="hotelId" column="hotel_id"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>

    </resultMap>
</mapper>